body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    align-items: center;
}
#form{
    color: #fff;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    border-width: 2px;
    width: 50%;
    height: 50%;
}
#form label{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#form legend{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
